[Unit]
Description=My app

[Service]
ExecStart=/home/noname00/nextjs-prod/start.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/noname00/nextjs-prod

[Install]
WantedBy=multi-user.target
